<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="angular1.js"></script>
<body>
<!-- angular v1.5.8 -->
<div ng-app='app'>
    <div ng-controller="ctrl">
        <input type="text" ng-model="ipt">
        <button ng-click="tap()">事件</button>
        <div>{{value}}</div>
    </div>

</div>

</body>

<script type="text/javascript">
    // ng-app =''时候不需要angular.module('app',[])进行初始化   一旦写了就需要进行注入
    var app = angular.module('app', []);
    app.controller('ctrl',['$scope',function ($scope) {
        $scope.b = '';
        $scope.tap = function () {
            $scope.value = '你好'+$scope.ipt
        }
    }])

</script>

</html>