<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="angular.js"></script>
    <title>Document</title>
</head>
<body>
    <div ng-add=''>
            <input type="text" ng-model='iptt' name="" id="">
            <div>{{iptt}}</div>
        <input type="text" ng-model='ipt'>
        <a href="#">数量</a>
        <input type="text" ng-model='ipt1'>
        <div>{{ipt}}</div>
        <div>{{ipt1*ipt > 88 ? 1 : 2}}</div>
    </div>
</body>
</html>